{% if branches is empty %}
    <div class="card card-default">
        <div class="card-body">
            No branch matches the criteria
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Branch name</th>
                    <th>Balance amount</th>
                    <th>Balance currency</th>
                </tr>
                </thead>
                <tbody>
                {% for branch in branches %}
                    <tr>
                        <td>{{ branch.name }}</td>
                        <td>{{ branch.balanceAmount }}</td>
                        <td>{{ branch.balanceCurrency }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}